<!doctype html>
<html lang="en">
<head>
	<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<header>
	<nav class="main-nav">
		<a href="index.html">Home</a> | <a href="score.html">Score One Word</a> | <a href="score_multiple.html">Score Many Words</a>
	</nav>
	<section>
	</section>
</header>
  <%= yield %> 
</body>
</html>